*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.demo{
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px;


}
.name-example{
  margin: 0 auto;
  background-color: lightgrey;
  border-radius: 15px solid black;
  width: 600px;
  height: 200px;
  text-align: center;
  padding: 50px;

}
#name{
  display: none;
  font-size: 16px;

}
#name.visible{
  display: block;
}
